.inputs {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.onScreenKeyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1127px) {
    .onScreenKeyboard {
       align-items: stretch;
    }
}

.keyBoardRow {
    display: flex;
    flex-direction: row;
}

.keyBoardKey {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #818384;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: xxx-large;
}

.letters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letterRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.backspaceKey {
    width: 160px;
}

.enterKey {
    width: 160px;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #ffffff;
    color: black;
    font-size: xxx-large;
}

.right {
    background-color: #4CAF50;
    color: white;
}

.contained {
    background-color: #bcd33c;
    color: white;
}

.notContained {
    background-color: #444444;
    color: white;
}