h1 {
    color: aqua;
}

.inputs {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.onScreenKeyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyBoardRow {
    display: flex;
    flex-direction: row;
}

.keyBoardKey {
    color: white;
}

.letters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letterRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.letter {
    color: white;
}